body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f13812 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #f13812 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f13812 !important;
  border-color: #f13812 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a3240a !important;
  border-color: #a3240a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a3240a !important;
  border-color: #a3240a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f5a319 !important;
  border-color: #f5a319 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b07108 !important;
  border-color: #b07108 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b07108 !important;
  border-color: #b07108 !important;
}
.btn-info,
.btn-info:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f13812 !important;
  border-color: #f13812 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #a3240a !important;
  border-color: #a3240a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a3240a !important;
  border-color: #a3240a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f13812;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a3240a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f13812 !important;
  border-color: #f13812 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f5a319;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b07108 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f5a319 !important;
  border-color: #f5a319 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f13812;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #a3240a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f13812 !important;
  border-color: #f13812 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f13812 !important;
}
.text-secondary {
  color: #f5a319 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #f13812 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #942109 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a16807 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #942109 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f13812;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #f13812;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f13812;
  border-color: #f13812;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #f13812;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fcdad3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fcdad3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f13812 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #f13812;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f13812;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f13812;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f13812;
  border-bottom-color: #f13812;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #f13812 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f5a319 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f13812' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.cid-uzKT10whBW {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 96px;
}
.cid-uzKT10whBW nav.navbar {
  position: fixed;
}
.cid-uzKT10whBW .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uzKT10whBW .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-uzKT10whBW .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-uzKT10whBW .dropdown-item:hover,
.cid-uzKT10whBW .dropdown-item:focus {
  background: #f13812 !important;
  color: white !important;
}
.cid-uzKT10whBW .dropdown-item:hover span {
  color: white;
}
.cid-uzKT10whBW .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-uzKT10whBW .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-uzKT10whBW .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-uzKT10whBW .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-uzKT10whBW .nav-link {
  position: relative;
}
.cid-uzKT10whBW .container {
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
}
@media (min-width: 992px) {
  .cid-uzKT10whBW .container {
    flex-wrap: nowrap;
  }
}
.cid-uzKT10whBW .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
}
.cid-uzKT10whBW .iconfont-wrapper:hover {
  color: #f5a319 !important;
}
.cid-uzKT10whBW .dropdown-menu,
.cid-uzKT10whBW .navbar.opened {
  background: #212132 !important;
}
.cid-uzKT10whBW .nav-item:focus,
.cid-uzKT10whBW .nav-link:focus {
  outline: none;
}
.cid-uzKT10whBW .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uzKT10whBW .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uzKT10whBW .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uzKT10whBW .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uzKT10whBW .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uzKT10whBW .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uzKT10whBW .navbar {
  min-height: 96px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #212132;
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
.cid-uzKT10whBW .navbar.opened {
  transition: all 0.3s;
}
.cid-uzKT10whBW .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uzKT10whBW .navbar .navbar-logo img {
  width: auto;
}
.cid-uzKT10whBW .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-uzKT10whBW .navbar.collapsed {
  justify-content: center;
}
.cid-uzKT10whBW .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uzKT10whBW .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uzKT10whBW .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5.5rem);
  }
}
.cid-uzKT10whBW .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uzKT10whBW .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uzKT10whBW .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uzKT10whBW .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uzKT10whBW .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uzKT10whBW .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-uzKT10whBW .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uzKT10whBW .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uzKT10whBW .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uzKT10whBW .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uzKT10whBW .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uzKT10whBW .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uzKT10whBW .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-uzKT10whBW .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uzKT10whBW .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0.5rem;
    max-width: 60%;
  }
  .cid-uzKT10whBW .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uzKT10whBW .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-uzKT10whBW .navbar.navbar-short {
  min-height: 96px;
}
.cid-uzKT10whBW .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uzKT10whBW .navbar.navbar-short .navbar-brand {
  min-height: 96px;
  padding: 0;
}
.cid-uzKT10whBW .navbar-brand {
  min-height: 96px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word !important;
  z-index: 1;
  word-wrap: break-word !important;
  white-space: normal;
}
.cid-uzKT10whBW .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uzKT10whBW .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uzKT10whBW .navbar-brand:hover {
  transform: scale(1.1);
}
.cid-uzKT10whBW .dropdown-item.active,
.cid-uzKT10whBW .dropdown-item:active {
  background-color: transparent;
}
.cid-uzKT10whBW .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uzKT10whBW .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uzKT10whBW .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uzKT10whBW .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #212132;
}
.cid-uzKT10whBW .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uzKT10whBW .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uzKT10whBW ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uzKT10whBW .navbar-buttons {
  text-align: center;
}
.cid-uzKT10whBW .navbar-buttons .btn {
  padding: 9px 18px;
  min-width: 100px;
  min-height: 52px;
  border-radius: 0.3rem;
}
.cid-uzKT10whBW .navbar-buttons .btn:hover {
  color: #f5a319 !important;
}
@media (max-width: 575px) {
  .cid-uzKT10whBW .navbar-buttons .btn {
    width: auto !important;
  }
}
.cid-uzKT10whBW .navbar-buttons .btn-black {
  border: solid 2px #f13812 !important;
  box-shadow: 3px 3px 0 0 #f13812 !important;
}
.cid-uzKT10whBW .navbar-buttons .btn-black:hover {
  border: solid 2px #f13812 !important;
  color: #f5a319 !important;
  box-shadow: 0 0 0 0 #f13812 !important;
}
.cid-uzKT10whBW button.navbar-toggler {
  outline: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  border-radius: 0.3rem;
  background-color: #212132 !important;
  border: solid 2px #f13812 !important;
  box-shadow: 3px 3px 0 0 #f13812 !important;
}
.cid-uzKT10whBW button.navbar-toggler:hover {
  border: solid 2px #f13812 !important;
  color: #f5a319 !important;
  box-shadow: 0 0 0 0 #f13812 !important;
}
.cid-uzKT10whBW button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 20px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-uzKT10whBW button.navbar-toggler .hamburger span:nth-child(1) {
  top: 9px;
  left: 8px;
  transition: all 0.2s;
}
.cid-uzKT10whBW button.navbar-toggler .hamburger span:nth-child(2) {
  left: 8px;
  top: 17px;
  transition: all 0.15s;
}
.cid-uzKT10whBW button.navbar-toggler .hamburger span:nth-child(3) {
  left: 8px;
  top: 17px;
  transition: all 0.15s;
}
.cid-uzKT10whBW button.navbar-toggler .hamburger span:nth-child(4) {
  left: 8px;
  top: 25px;
  transition: all 0.2s;
}
.cid-uzKT10whBW nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uzKT10whBW nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uzKT10whBW nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uzKT10whBW nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uzKT10whBW .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-uzKT10whBW a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uzKT10whBW .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uzKT10whBW .navbar {
    height: 70px;
  }
  .cid-uzKT10whBW .navbar.opened {
    height: auto;
  }
  .cid-uzKT10whBW .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uzKT10whBW .navbar-nav {
  margin: 0 auto;
}
.cid-uzKT10whBW .nav-item {
  padding: 0;
  margin: 2px;
}
.cid-uzKT10whBW .nav-item .nav-link {
  padding: 6px 32px !important;
  margin: 0 !important;
}
.cid-uzKT10whBW .nav-item .nav-link::after {
  color: #f5a319 !important;
  transform: rotate(0);
  transition: .3s;
}
.cid-uzKT10whBW .nav-item .nav-link:hover {
  color: #f5a319 !important;
}
.cid-uzKT10whBW .nav-item .nav-link.show::after {
  transform: rotate(180deg);
}
.cid-uzKT10whBW .nav-item .dropdown-menu {
  background-color: #ffffff !important;
}
.cid-uzKT10whBW .nav-item .dropdown-menu:hover {
  background-color: #ffffff !important;
}
.cid-uzKT10whBW .nav-item .dropdown-menu .dropdown-item {
  color: #212132 !important;
  background-color: transparent !important;
}
.cid-uzKT10whBW .nav-item .dropdown-menu .dropdown-item:hover {
  color: #f13812 !important;
}
@media (max-width: 991px) {
  .cid-uzKT10whBW .navbar {
    justify-content: flex-start !important;
  }
  .cid-uzKT10whBW .navbar.opened {
    min-height: 100vh !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
  }
  .cid-uzKT10whBW .navbar-collapse {
    padding: 20px 0 3rem;
  }
  .cid-uzKT10whBW .navbar-collapse .navbar-nav {
    width: 100%;
    margin-bottom: 24px;
  }
  .cid-uzKT10whBW .navbar-collapse .nav-item {
    width: 100%;
    margin: 0;
  }
  .cid-uzKT10whBW .navbar-collapse .nav-item:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .cid-uzKT10whBW .navbar-collapse .nav-item .nav-link {
    padding: 14px 0 !important;
    justify-content: flex-start;
  }
}
@media (max-width: 1500px) {
  .cid-uzKT10whBW .nav-item .nav-link {
    font-size: 1.2rem;
    padding: 10px!important;
  }
  .cid-uzKT10whBW .container {
    flex-wrap: wrap!important;
    justify-content: center;
    flex-direction: column;
  }
  .cid-uzKT10whBW .navbar-brand {
    min-height: 20px;
    padding-top: 30px;
  }
}
@media (max-width: 992px) {
  .cid-uzKT10whBW .container {
    justify-content: space-between;
    flex-direction: row;
  }
  .cid-uzKT10whBW .navbar-brand {
    min-height: 96px;
    padding-top: 10px;
  }
}
.cid-uzKYMCcMhz {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #212132;
}
.cid-uzKYMCcMhz .item:focus,
.cid-uzKYMCcMhz span:focus {
  outline: none;
}
.cid-uzKYMCcMhz .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-uzKYMCcMhz .item {
  color: #ffdd65;
  min-height: 90px;
  background-image: linear-gradient(90deg, currentColor 2.76%, #f5a319 29.66%, #f13812 61%, #ff9966);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .cid-uzKYMCcMhz .item {
    min-height: 45px;
  }
}
.cid-v2ndocQR4l {
  background-image: linear-gradient(266deg, #930e00 10%, #f5a319 100%) !important;
}
.cid-v2ndocQR4l .mbr-fallback-image.disabled {
  display: none;
}
.cid-v2ndocQR4l .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzLaSYBRXC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #111111;
}
.cid-uzLaSYBRXC .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzLaSYBRXC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzLaSYBRXC .container {
  max-width: 1280px;
}
.cid-uzLaSYBRXC .row {
  justify-content: flex-start;
}
.cid-uzLaSYBRXC .content-wrapper {
  display: flex;
  align-items: stretch;
  background: #ffffff;
  padding: 4rem;
  border-radius: 4.17rem;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-uzLaSYBRXC .content-wrapper {
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .cid-uzLaSYBRXC .content-wrapper {
    padding: 40px 6vw;
  }
}
.cid-uzLaSYBRXC .mbr-section-title {
  color: #f5a319;
  width: 100%;
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .cid-uzLaSYBRXC .mbr-section-title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .cid-uzLaSYBRXC .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-uzLaSYBRXC .item-wrapper {
  width: 100%;
  margin-bottom: 24px;
}
.cid-uzLaSYBRXC .mbr-section-subtitle {
  color: #212132;
  width: 100%;
  margin-bottom: 16px !important;
}
.cid-uzLaSYBRXC .mbr-text {
  color: #212132;
  width: 100%;
  margin-bottom: 0;
}
.cid-uzLaVsG2eP {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #212132;
}
.cid-uzLaVsG2eP .container {
  max-width: 1600px;
}
.cid-uzLaVsG2eP .row {
  align-items: center;
}
.cid-uzLaVsG2eP .content-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
@media (max-width: 991px) {
  .cid-uzLaVsG2eP .content-container {
    flex-wrap: wrap;
  }
}
.cid-uzLaVsG2eP .title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  width: 45%;
  margin-right: auto;
}
@media (max-width: 991px) {
  .cid-uzLaVsG2eP .title-container {
    max-width: 455px;
    margin-right: auto;
    margin-left: 0;
    width: 100%;
    margin-bottom: 40px;
  }
}
.cid-uzLaVsG2eP .main-title {
  color: #FFDD65;
  width: 100%;
  margin-bottom: 0;
}
.cid-uzLaVsG2eP .main-subtitle {
  color: #f1f5f7;
  opacity: 0.8;
  width: 100%;
  margin-top: 24px;
}
@media (max-width: 991px) {
  .cid-uzLaVsG2eP .main-subtitle {
    margin-top: 12px;
  }
}
.cid-uzLaVsG2eP .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  background-color: #000000;
  padding: 40px;
  border-radius: 2.08rem;
}
@media (max-width: 991px) {
  .cid-uzLaVsG2eP .form-container {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    flex-wrap: nowrap;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .cid-uzLaVsG2eP .form-container {
    flex-direction: column;
    align-items: center;
  }
}
.cid-uzLaVsG2eP .form-subtitle {
  color: #ffffff;
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .cid-uzLaVsG2eP .form-subtitle {
    width: 30%;
    padding-right: 20px;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .cid-uzLaVsG2eP .form-subtitle {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
    text-align: center !important;
  }
}
@media (max-width: 991px) {
  .cid-uzLaVsG2eP .form-size {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .cid-uzLaVsG2eP .form-size {
    width: 100%;
  }
}
.cid-uzLaVsG2eP form {
  width: 100%;
}
.cid-uzLaVsG2eP form .dragArea.row {
  justify-content: flex-start;
  width: auto !important;
}
.cid-uzLaVsG2eP form p {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-uzLaVsG2eP form .mbr-section-btn {
    width: 100%;
  }
}
.cid-uzLaVsG2eP form .mbr-section-btn .custom-section-btn {
  margin-left: 0 !important;
}
@media (max-width: 767px) {
  .cid-uzLaVsG2eP form .mbr-section-btn .custom-section-btn {
    width: 100%;
  }
}
.cid-uzLaVsG2eP form .form-group {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
  flex-grow: 1;
}
@media (max-width: 767px) {
  .cid-uzLaVsG2eP form .form-group {
    margin-bottom: 12px !important;
  }
}
.cid-uzLaVsG2eP form .group-container {
  position: relative;
  width: 100%;
  margin-top: 0.42rem;
}
.cid-uzLaVsG2eP form .group-bg {
  position: absolute;
  border-radius: 0.75rem;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #ffdd65 2.76%, #ffaa5c 29.66%, #f5a319 61%, #f13812 99.93%);
}
.cid-uzLaVsG2eP form .group-border {
  position: relative;
  z-index: 6;
  padding: 3px;
  border-radius: 0.75rem;
  transition: all 300ms ease;
  background-image: linear-gradient(90deg, #ffdd65 2.76%, #ffaa5c 29.66%, #f5a319 61%, #f13812 99.93%);
  transform: translate3d(-0.42rem, -0.42rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.cid-uzLaVsG2eP form .group-border:hover {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.cid-uzLaVsG2eP form .form-control {
  height: 100px;
  border: none !important;
  background: #ffffff;
  box-shadow: none !important;
  border-radius: 0.75rem;
  margin-bottom: 0;
  padding: 20px 40px;
  font-size: 24px;
  line-height: 32px;
  color: #212132;
  font-weight: 400;
}
@media (max-width: 767px) {
  .cid-uzLaVsG2eP form .form-control {
    height: 62px;
    font-size: 16px;
    padding: 12px 24px;
  }
}
.cid-uzLaVsG2eP form .form-control::-webkit-input-placeholder {
  color: #939292;
}
.cid-uzLaVsG2eP form .form-control::-moz-placeholder {
  color: #939292;
}
.cid-uzLaVsG2eP form .form-control:-moz-placeholder {
  color: #939292;
}
.cid-uzLaVsG2eP form .form-control:-ms-input-placeholder {
  color: #939292;
}
.cid-uzLaVsG2eP form .form-control:hover {
  outline: none !important;
}
.cid-uzLaVsG2eP form select {
  color: #939292 !important;
}
.cid-uzLaVsG2eP form textarea {
  height: 200px;
}
.cid-uzLaVsG2eP form input:active,
.cid-uzLaVsG2eP form textarea:active,
.cid-uzLaVsG2eP form input:focus,
.cid-uzLaVsG2eP form textarea:focus {
  background-color: #FFFFFF !important;
}
.cid-uzLaVsG2eP form input:active::-webkit-input-placeholder,
.cid-uzLaVsG2eP form textarea:active::-webkit-input-placeholder,
.cid-uzLaVsG2eP form input:focus::-webkit-input-placeholder,
.cid-uzLaVsG2eP form textarea:focus::-webkit-input-placeholder {
  color: #939292;
}
.cid-uzLaVsG2eP form input:active::-moz-placeholder,
.cid-uzLaVsG2eP form textarea:active::-moz-placeholder,
.cid-uzLaVsG2eP form input:focus::-moz-placeholder,
.cid-uzLaVsG2eP form textarea:focus::-moz-placeholder {
  color: #939292;
}
.cid-uzLaVsG2eP form input:active:-moz-placeholder,
.cid-uzLaVsG2eP form textarea:active:-moz-placeholder,
.cid-uzLaVsG2eP form input:focus:-moz-placeholder,
.cid-uzLaVsG2eP form textarea:focus:-moz-placeholder {
  color: #939292;
}
.cid-uzLaVsG2eP form input:active:-ms-input-placeholder,
.cid-uzLaVsG2eP form textarea:active:-ms-input-placeholder,
.cid-uzLaVsG2eP form input:focus:-ms-input-placeholder,
.cid-uzLaVsG2eP form textarea:focus:-ms-input-placeholder {
  color: #939292;
}
.cid-uzLaVsG2eP form .row {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.cid-uzLaVsG2eP form .row [class*=col] {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.cid-uzLaVsG2eP form label {
  width: 100%;
  color: #ffffff;
  margin-bottom: 10px;
}
.cid-uzLaVsG2eP form .form-check-input {
  border-color: rgba(255, 255, 255, 0.25) !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.cid-uzLaVsG2eP form .form-check-input:focus,
.cid-uzLaVsG2eP form .form-check-input:hover {
  background-color: transparent !important;
  border-color: #ffffff !important;
}
.cid-uzLaVsG2eP form .form-check-input:checked {
  border-color: #ffffff !important;
}
.cid-uzLaVsG2eP .custom-section-btn {
  background-image: linear-gradient(90deg, #ffdd65 2.76%, #ffaa5c 29.66%, #f5a319 61%, #f13812 99.93%);
}
.cid-uzLaVsG2eP .custom-section-btn::after {
  background-image: linear-gradient(90deg, #ffdd65 2.76%, #ffaa5c 29.66%, #f5a319 61%, #f13812 99.93%);
}
.cid-uzKYHXyQpu {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #111111;
}
.cid-uzKYHXyQpu h3 {
  background: linear-gradient(to left, #f5a319, currentColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-uzKYHXyQpu .count,
.cid-uzKYHXyQpu .card-img {
  color: #e2090d;
}
.cid-uzKYHXyQpu .mbr-subtitle {
  color: #999999;
}
.cid-uzKYHXyQpu .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzKYHXyQpu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzKXnTUkhJ {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #111111;
}
.cid-uzKXnTUkhJ img {
  width: 120px;
  margin: auto;
}
.cid-uzKXnTUkhJ .card {
  height: fit-content;
  cursor: pointer;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.cid-uzKXnTUkhJ .card img {
  filter: brightness(2);
}
@media (min-width: 992px) {
  .cid-uzKXnTUkhJ .card {
    max-width: 20%;
  }
}
.cid-uzKU0V2ekV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #212132;
}
.cid-uzKU0V2ekV .mbr-fallback-image.disabled {
  display: none;
}
.cid-uzKU0V2ekV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uzKU0V2ekV .container {
  max-width: 1472px;
}
.cid-uzKU0V2ekV .footer-main-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 2.08rem;
  background-color: rgba(255, 255, 255, 0.01);
}
.cid-uzKU0V2ekV .col-brand {
  width: 100%;
  padding: 2.5rem;
}
@media (max-width: 991px) {
  .cid-uzKU0V2ekV .col-brand {
    padding: 24px;
  }
}
.cid-uzKU0V2ekV .navbar-brand {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  word-break: break-word !important;
  word-wrap: break-word !important;
  white-space: normal;
  flex-shrink: 0;
  align-items: center;
  padding: 0;
  z-index: 1;
  margin-right: auto;
  width: fit-content;
  transition: all 0.3s;
}
.cid-uzKU0V2ekV .navbar-brand:hover {
  transform: scale(1.1);
}
.cid-uzKU0V2ekV .navbar-brand .navbar-logo {
  margin-right: 0.5rem;
}
.cid-uzKU0V2ekV .navbar-brand .navbar-logo img {
  width: auto;
}
.cid-uzKU0V2ekV .navbar-brand .navbar-caption {
  line-height: inherit !important;
  word-break: break-word !important;
  word-wrap: break-word !important;
}
.cid-uzKU0V2ekV .navbar-brand .navbar-caption:hover {
  text-decoration-line: none !important;
}
.cid-uzKU0V2ekV .navbar-brand .navbar-logo a {
  outline: none;
  word-break: break-word !important;
  word-wrap: break-word !important;
}
.cid-uzKU0V2ekV .navbar-brand .navbar-logo a:hover {
  text-decoration-line: none !important;
}
.cid-uzKU0V2ekV .links-container {
  width: 100%;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 8.8%;
}
@media (max-width: 991px) {
  .cid-uzKU0V2ekV .links-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17.6%;
    row-gap: 6.67rem;
    padding: 24px;
  }
}
@media (max-width: 767px) {
  .cid-uzKU0V2ekV .links-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.2rem;
    row-gap: 1.2rem;
  }
}
.cid-uzKU0V2ekV .mbr-section-subtitle {
  color: #ffdd65;
  margin-bottom: 12px;
}
.cid-uzKU0V2ekV .list {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  color: #ffffff;
}
.cid-uzKU0V2ekV .list li {
  width: 100%;
  color: inherit !important;
  margin: 6px 0;
}
.cid-uzKU0V2ekV .list li:hover {
  color: #f13812 !important;
}
.cid-uzKU0V2ekV .list a {
  color: inherit !important;
  line-height: inherit !important;
}
.cid-uzKU0V2ekV .list a:hover {
  color: inherit !important;
  line-height: inherit !important;
}
.cid-uzKU0V2ekV .copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.01);
  padding: 32px 0 24px;
}
@media (max-width: 767px) {
  .cid-uzKU0V2ekV .copyright-container {
    padding: 24px 0 16px;
    flex-wrap: wrap;
  }
}
.cid-uzKU0V2ekV .copyright {
  color: #FEF9EE;
  max-width: 45%;
}
@media (max-width: 767px) {
  .cid-uzKU0V2ekV .copyright {
    max-width: 100%;
    width: 100%;
  }
}
.cid-uzKU0V2ekV .social-row {
  width: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 45%;
  margin-left: auto;
}
@media (max-width: 767px) {
  .cid-uzKU0V2ekV .social-row {
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
  }
}
.cid-uzKU0V2ekV .mbr-iconfont {
  font-size: 22px;
  color: #ff9966;
}
.cid-uzKU0V2ekV .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.01);
  margin-left: 4px;
  margin-bottom: 4px;
  padding: 12px;
  min-height: 70px;
  min-width: 70px;
  transition: .3s all;
}
@media (max-width: 767px) {
  .cid-uzKU0V2ekV .soc-item {
    margin-left: 0;
    margin-right: 4px;
    margin-bottom: 0;
    margin-top: 4px;
    padding: 10px;
    min-height: 50px;
    min-width: 50px;
  }
}
.cid-uzKU0V2ekV .soc-item a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uzKU0V2ekV .soc-item a:hover {
  text-decoration-line: none !important;
}
.cid-uzKU0V2ekV .soc-item:hover {
  transform: scale(0.95);
}
.cid-uzKU0V2ekV .soc-item:hover .mbr-iconfont {
  color: #FFDD65 !important;
}
